// Color background
$background-header-footer: #fab9f6;
$background-contenedor: rgb(255, 255, 255);
$background-main: rgb(252, 233, 255);
$background-white: white;

// Color
$color: rgb(71, 0, 84);
$color-texto-general: black;
$color-texto-footer-main: rgb(71, 0, 84);

// Tipografía
$fuente-principal: Arial, Helvetica, sans-serif;

// Tamaños del texto
$font-xxl: 35px;
$font-xl: 30px;
$font-lg: 22px;
$font-md: 17px;
$font-sm: 12px;

// Espaciado y bordes
$margin-xxl: 70px;
$margin-grande: 50px;
$margin-medio: 25px;
$margin-chico: 15px;
$margin-sm: 5px;


$padding-lg: 30px;
$padding-md: 25px;
$padding-mmd: 10px;
$padding-sm: 3px;

$gap-lg: 30px;
$gap-md: 20px;
$gap-sm: 10px;

$border-xl: 10px;
$border-lg: 3px;
$border-md: 2px;

$border-radius-xl: 18px;
$border-radius-lg: 15px;
$border-radius-md: 8px;