@import '../abstracts/variables';
@import '../abstracts/mixin';

// mq tablet
@media screen and (min-width:600px){
    /* ---------- HEADER ---------- */  
    .contenido-header{
        div{
            a{
                img{
                    @include medidas (130px, auto);
                }
            }
        }
    }
    
    // titulo menú
    .titulo-menu{
        @include fonts ($font-xl, $color-texto-footer-main, 600, none, none);
    }
    
    // flecha menú visible
    .flecha-menu{
        @include medidas (35px, auto);
    }

// ---------- FOOTER ----------
    // logo
    .logo-footer{
        text-align: center;
        img{
            margin: $margin-chico;
            @include medidas (150px, auto);
        }
    }
    
    // estilos para el botón del acordion del footer
    .accordion-item{
        border: none;
        border-bottom: $border-lg solid $color;
        border-top: $border-lg solid $color;
    }
    
    .accordion-button{
        font-size: $font-lg;
    }
    
    // contenido del accordion
    .footer-enlaces{
        li{
            a{
                font-size: $font-lg;
                font-weight: 600;
            }
        }
    }
    
    .a2{
        font-size: $font-lg;
        font-weight: 600;
    }
    
    // flecha accordion
    .flecha-footer{
        @include medidas (40px, auto);
    }
    
    /* estilos para la seccion follow us */
    .seguinos{
        h3{
            font-weight: 700;
            font-size: $font-xl;
        }
    }
    
    // redes sociales
    .bi-whatsapp, .bi-instagram, .bi-envelope-at{
        display: flex;
        @include medidas (auto, 45px);
        align-content: center;
    }

    /* ---------- MAIN HOME ---------- */
    .mas-vendidos h1 {
        letter-spacing: 10px;
        background-color: $background-main;
        margin: $margin-medio 0;
        @include fonts ($font-xl, $color-texto-general, 700, none, none);
    }
    
    .productos{
        grid-template-columns: repeat(3, 1fr);
        gap: $gap-md;
        row-gap: $gap-md; 
        margin-bottom: $margin-medio;
        margin-left: $margin-medio;
        margin-right: $margin-medio;
    }
    
    .productos img{
        width: 230px;
        max-width: auto;
        border-radius: $border-radius-xl;
        border: $border-lg solid $color-texto-footer-main;
    }
    /* ---------- MAIN PREGUNTAS FRECUENTES ---------- */  
    .contenedor-preguntas-frecuentes{
        margin: $margin-grande;
    }
    
    .contenedor-preguntas-frecuentes h1{
        font-size: $font-xxl;
        margin: $margin-medio;
        padding-bottom: $padding-lg;
    }

    .pregunta{
        font-size: $font-xl;
        font-weight: 600;
        letter-spacing: 3px;
    }

    .respuesta{
        font-size: $font-xl;
        text-align: left;
        line-height: 40px;
    }

    /* ---------- MAIN PRODUCTOS ---------- */
    .main-productos h1{
        margin: $margin-medio;
        font-size: $font-xxl;
        font-weight: 600;
        letter-spacing: 10px;
    }

    .contorno-catalogo{
        gap: 15px;
        row-gap: 15px;
    }

    .producto{
        border: $border-lg solid $color;
    }

    .producto h3{
        font-size: $font-xl;
        letter-spacing: 2px;
        margin: $margin-sm 0;
    }

    .producto p{
        font-weight: 500;
        font-size: $font-xl;
        padding: $padding-sm;
    }

    .categorias-productos h2{
        font-size: $font-xl;
        letter-spacing: 3px;
        margin: 0 $margin-medio;
    }

    /* ---------- MAIN CONTACTO ---------- */
    .contenedor-contacto{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: $margin-grande auto;
    }
    
    .linea-contacto{
        width: 100%;
        margin: $margin-grande 0;
        border-bottom: $border-lg solid $color-texto-footer-main;
    }

    .titulo-contacto{
        font-size: $font-xxl;
        letter-spacing: 5px;
    }

    .icono_formulario{
        height: 50px;
    }

    .insertar-formulario, .insertar-formulario-mensaje{
        font-size: $font-xl;   
    }

    .datos-contacto-y-formulario, a{
        font-size: $font-xl;
        line-height: 80px;
        letter-spacing: 3px;
    }

    .formulario-contacto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    .insertar-formulario{
        display: grid;
        grid-template-columns: 1fr;
        flex-grow: 1;
    }

    .contenedor-formulario{
        gap: 20px;

    }

    /* ---------- MAIN COMPRAR ---------- */
    .comprar{
        margin: $margin-grande;
    }
   
    .comprar h1, .contenedor-preguntas h1{
        font-size: $font-xxl;
    }

    .comprar h1{
        padding-bottom: $padding-lg;
    }

    .comprar, .contenedor-preguntas{
        text-align: left;
        padding: $padding-lg $padding-md $padding-mmd $padding-lg;
    }

    .pasos-comprar ol li{
        font-size: $font-xl;
        line-height: 35px;
        padding-bottom: $padding-lg;
    }
}